@model User

<div class="modal fade" id="LogInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      @*  role="document"*@
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">LogIn</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="Login/Login" method="Post" runat="server" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="cancel-delete">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="confirm-delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>`

               
