
@*{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<form method="post">
    <label class="sr-only">Email address</label>
    <input type="text" name="username" class="form-control" placeholder="Username">
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>*@

