@model JSarad_C868_Capstone.ViewModels.EventViewModel

<!-- _ModifyEmployeeModal (shows/hides from Modify Object function in site.js, on buttonclick Add or Edit of /Event/Index.cshtml)-->
<div class="modal modal-fade modifyModal" id="modifyEvent" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modifyLabel"> @Html.Raw(Model.Title)</h4>
                <button type=button class="close" data-bs-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="container" style="word-wrap:break-word; padding-left:20px; padding-right:20px;">
            <div class="row">
                <p class="text text-primary"> @Html.Raw(Model.Notice)</p> 
                </div>
               
            </div>
            <form action="Event/Modify" method="Post" runat="server" autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <span asp-validation-for="Event.EndTime" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col form-group">
                            <div>
                                <label>Event Date</label>
                                <input asp-for="Event.EventDate" id="datepicker" type="date" /> 
                                 
                                <span class="add-on">
                                    <i data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                           
                        <div class="col form-group">
                            <div >
                                <label >Start Time : </label>
                                <input asp-for="Event.StartTime" type="time" id="startTime" />
                                
                                
                                <span class="add-on">
                                    <i data-time-icon="icon-time">
                                    </i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="col form-group">
                            <div >
                                <label>End Time : </label>
                                <input asp-for="Event.EndTime" type="time" id="endTime" /> 
                                  
                                <span class="add-on">
                                    <i data-date-icon="icon-calendar">
                                    </i>
                                </span>

                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-bottom:20px">
                        <div class="col-6">
                            <div class="form-group">
                                <!--FIX ME!!! Event type not appearing when opening database seeded events in "Edit" Modify Modal-->
                                <input asp-for="Event.Id" class="form-control" type="hidden"/>
                                <label asp-for="Event.Type"></label>
                                <select asp-for="Event.Type" class="form-control">
                                    <option value="none" selected disabled hidden>--Select Event Type--</option>
                                    <option value="Wedding">Wedding</option>
                                    <option value="Corporate">Corporate</option>
                                    <option value="Social Event">Social Event</option>
                                    <option value="Concession">Concession</option>
                                </select>
                                <span asp-validation-for="Event.Type" class="text-danger"></span>
                            </div>
                            @* <div class="mb-3">*@
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Event.EventName"></label>
                                    <input asp-for="Event.EventName" class="form-control" />
                                    <span asp-validation-for="Event.EventName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Event.Location"></label>
                                <input asp-for="Event.Location" class="form-control" />
                                <span asp-validation-for="Event.Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Event.Guests">Number of Guests</label>
                                <input asp-for="Event.Guests" class="form-control" />
                                <span asp-validation-for="Event.Guests" class="text-danger"></span>
                            </div>
                            <div class="row pb-4" style="margin-top:20px">
                                <div class="col">
                                    <div class="form-check">
                                        <input asp-for="Event.Food" class="form-check-input" type="checkbox" />
                                        <label asp-for="Event.Food" class="form-check-label"></label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input asp-for="Event.Bar" class="form-check-input" type="checkbox" />
                                        <label asp-for="Event.Bar" class="form-check-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                         <div class="col-6">
                             <div style="padding-bottom:10%;">
                             <label>Client Name</label>
                                <input asp-for="ClientName" type="text" id="completeTxt" oninput="AutoComplete()" class="form-control" controller="Event" action="AutoComplete" /> @*completeText*@
                                <input id="hfitem" name="ClientId" type="hidden" />
                                <input asp-for="Event.ClientId" id="autoId" type="hidden" /> 
                             <span asp-validation-for="ClientName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Event.Notes">Event Notes: </label>
                                <textarea asp-for="Event.Notes" class="form-control" value="" rows="6"></textarea>
                            </div>
                         </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!--submits to /Event/Modify/{viewModel}-->
                        <button type="submit" class="btn btn-primary" id="savechanges" data-bs-save="modal">Save</button>
                    </div>
                
                </div>
            </form>
            
        </div>
    </div>
</div>
                              
 @section Scripts{
    
         @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}                             
                  
  





