
@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Login" asp-action="Logout">
        
        <p style="color:lightgray; display:inline-flex;">Welcome @User.Identity.Name</p>

        <button type="submit" class="m-2 btn btn-link">Logout</button>
</form>
}
else
{
    <a class="btn btn-link" asp-route="/Login/Index"></a>
}
