@model JSarad_C868_Capstone.ViewModels.EmployeeViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Employee</h2>
            <hr />
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label asp-for="Employee.Role"></label>
                <select asp-for="Employee.Role" class="form-control">
                    <option value="Bartender">Bartender</option>
                    <option value="Server">Server</option>
                </select>
                <span asp-validation-for="Employee.Role" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Employee.Name"></label>
            <input asp-for="Employee.Name" class="form-control" />
            <span asp-validation-for="Employee.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Employee.Phone"></label>
            <input asp-for="Employee.Phone" class="form-control" />
            <span asp-validation-for="Employee.Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Employee.Email"></label>
            <input asp-for="Employee.Email" class="form-control" />
            <span asp-validation-for="Employee.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Employee.Address"></label>
            <input asp-for="Employee.Address" class="form-control" />
            <span asp-validation-for="Employee.Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Availabiliy</label>
        </div>
        <div class="row pb-4">
            <div class="col">
                <div class="form-check">
                    <input asp-for="Monday" class="form-check-input" type="checkbox"/>
                    <label asp-for="Monday" class="form-check-label"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input asp-for="Tuesday" class="form-check-input" type="checkbox"/>
                    <label asp-for="Tuesday" class="form-check-label"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">   
                    <input asp-for="Wednesday" class="form-check-input" type="checkbox" />
                    <label asp-for="Wednesday" class="form-check-label"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input asp-for="Thursday" class="form-check-input" type="checkbox" />
                    <label asp-for="Thursday" class="form-check-label"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input asp-for="Friday" class="form-check-input" type="checkbox" />
                    <label asp-for="Friday" class="form-check-label"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input asp-for="Saturday" class="form-check-input" type="checkbox" />
                    <label asp-for="Saturday" class="form-check-label"></label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input asp-for="Sunday" class="form-check-input" type="checkbox" />
                    <label asp-for="Sunday" class="form-check-label"></label>
                </div>
            </div>
        </div>
       
            @* between lable tags you can add a name for monday without hardcoding by creating a name ptoperty in the model
                and inserting @Model.WhateverTheNameIs
            *@
        
        @* <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" asp-for="Monday" checked="" autocomplete="off">
            <label class="btn btn-primary" for="btncheck1">Monday</label>
            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-primary" for="btncheck2">Tuesday</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-primary" for="btncheck3">Wednesday</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-primary" for="btncheck3">Thursday</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-primary" for="btncheck3">Friday</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-primary" for="btncheck3">Saturday</label>
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-primary" for="btncheck3">Sunday</label>
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <!--navigating back to Employee page-->
        <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

<!--adding client side validation requires adding scripts from the _ValidationScriptsPartial file in Shared folder-->
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }
    @*
    For more info on data annotations/ validation options go to
    docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations?view=net-5.0
*@
