html {
    font-size: 14px;
    background-color: #ecf0f1;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    min-width: max-content;
    
}

th {
    position: sticky;
    top: 0px;
}

.outer-wrapper {
    /*margin: 10px;*/
    /*margin-left: 20px;
    margin-right: 20px;*/
    border: 1px solid black;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
    border-radius: 4px;
    height: 70vh;
    position: relative;
    background-color: white;
    /*max-width: fit-content;*/
    /*max-height: fit-content;*/
}

.small-outer-wrapper {
    border: 1px solid black;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
    border-radius: 4px;
    height: 30vh;
    position: relative;
    
}

.small-tc {
    border: 1px solid black;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
    border-radius: 4px;
    height: 25vh;
    margin: 20px;
    background-color:white;
}
.tc {
    border: 1px solid black;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
    border-radius: 4px;
    height: 55vh;
    margin: 20px;
    background-color: white;
}
.table-wrapper {
    max-height: 50vh;
    overflow-y: scroll;
    margin: 20px;
}

/*th, td {
    border: 1px solid black;
    padding: 10px;
}*/

.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    
}
